<h1 mat-dialog-title>Add New User</h1>
<form [formGroup]="formAddNewUser">
  <div mat-dialog-content>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="User Name" formControlName="name" autocomplete="off" />
      <mat-error *ngIf="formAddNewUser.get('name')?.hasError('required')">
        {{ "Name Required" }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="User Email" formControlName="email" autocomplete="off" />
      <mat-error *ngIf="formAddNewUser.get('email')?.hasError('required')">
        {{ "Email Required" }}
      </mat-error>
      <mat-error *ngIf="formAddNewUser.get('email')?.hasError('email')">
        {{ "The email must be a valid email address" }}
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
    <button mat-button [disabled]="!formAddNewUser.valid" (click)="onSave()" type="submit">
      Add
    </button>
  </div>
</form>
