<!-- <h1 mat-dialog-title>{{'Home.AddNewUserDialogTitle' | translate}}</h1>
<form [formGroup]="formAddNewUser">
  <div mat-dialog-content>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>{{'Home.AddNewUserNameLabel' | translate}}</mat-label>
      <input matInput placeholder="{{'Home.AddNewUserPlaceholderName' | translate}}" formControlName="name" autocomplete="off" />
      <mat-error *ngIf="formAddNewUser.get('name')?.hasError('required')">
        {{ 'Home.AddNewUserNameRequired' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>{{'Home.AddNewUserEmailLabel' | translate}}</mat-label>
      <input matInput placeholder="{{'Home.AddNewUserPlaceholderEmail' | translate}}" formControlName="email" autocomplete="off" />
      <mat-error *ngIf="formAddNewUser.get('email')?.hasError('required')">
        {{ 'Home.AddNewUserEmailRequired' | translate }}
      </mat-error>
      <mat-error *ngIf="formAddNewUser.get('email')?.hasError('email')">
        {{ 'Home.AddNewUserEmailValidate' | translate }}
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">{{'Home.AddNewUserClose' | translate}}</button>
    <button mat-button [disabled]="!formAddNewUser.valid" (click)="onSave()" type="submit">
      {{'Home.AddNewUserAdd' | translate}}
    </button>
  </div>
</form> -->

<div class="add-new-user-wrapper">
  <h1>{{'Home.AddNewUser' | translate}}</h1>
  <form [formGroup]="formAddNewUser">
    <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{'Home.AddNewUserNameLabel' | translate}}</mat-label>
        <input matInput placeholder="{{'Home.AddNewUserPlaceholderName' | translate}}" formControlName="name" autocomplete="off" />
        <mat-error *ngIf="formAddNewUser.get('name')?.hasError('required')">
          {{ 'Home.AddNewUserNameRequired' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{'Home.AddNewUserEmailLabel' | translate}}</mat-label>
        <input matInput placeholder="{{'Home.AddNewUserPlaceholderEmail' | translate}}" formControlName="email" autocomplete="off" />
        <mat-error *ngIf="formAddNewUser.get('email')?.hasError('required')">
          {{ 'Home.AddNewUserEmailRequired' | translate }}
        </mat-error>
        <mat-error *ngIf="formAddNewUser.get('email')?.hasError('email')">
          {{ 'Home.AddNewUserEmailValidate' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <button mat-button (click)="onBack()" type="button">
      {{'Home.Back' | translate}}
    </button>
    <button mat-button [disabled]="!formAddNewUser.valid" (click)="onSave()" type="submit">
      {{'Home.AddNewUserAdd' | translate}}
    </button>
  </form>
</div>
