<mat-card>
  <mat-card-content>
    <form [formGroup]="loginForm">
      <h2>{{ "Auth.LogIn" | translate }}</h2>
      <mat-form-field>
        <input
          matInput
          placeholder="{{ 'Auth.PlaceholderEmail' | translate }}"
          formControlName="userEmail"
          name="userEmail"
          required
          autocomplete="off"
        />
        <mat-error *ngIf="loginForm.get('userEmail')?.hasError('required')">
          {{ "Auth.EmailRequired" | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="{{ 'Auth.PlaceholderPass' | translate }}"
          formControlName="password"
          name="password"
          required
          autocomplete="off"
        />
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          {{ "Auth.PasswordRequired" | translate }}
        </mat-error>
      </mat-form-field>
      <div class="login-wrapper">
        <mat-checkbox
          formControlName="check"
          (change)="onRememberMeClick()"
        ></mat-checkbox>

        <button
          mat-raised-button
          color="primary"
          (click)="onClickSubmit(loginForm.value)"
        >
          {{ "Auth.LogInButton" | translate }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
